.desktop-tasks-page {
  &__add-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 40%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .75);
    color: #000;
    font-size: 22px;
    font-weight: 400;
    opacity: .7;
    transition: all .3s;
    cursor: pointer;
    &:hover {
      opacity: 1;
      background-color: #d4f7ff;
    }
  }
  &__item-actions {
    position: relative;
    width: 0;
    padding: 0;
  }
  &__item-actions-btns {
    display: none !important;
    z-index: 9999;
    position: absolute;
    right: 0;
    bottom: 100%;
  }
  &__item {
    position: relative;
    &_checked {
      background-color: rgb(255, 232, 230) !important;
      .desktop-tasks-page__item-actions-btn {
        background-color: rgb(255, 232, 230) !important;
      }
    }
    &_active:hover {
      .desktop-tasks-page__item-actions-btns {
        display: inline-flex !important;
        box-shadow: none;
        border: 1px solid rgba(224, 224, 224, 1);
        border-bottom: none;
        border-radius: 0;
        > * {
          border-right: 1px solid rgba(224, 224, 224, 1);
          box-shadow: none;
          &:hover {
            border-radius: 0;
            font-weight: 900;
          }
        }
      }
    }
  }
  &__item-actions-btn {
    background-color: #d4f7ff !important;
    font-size: 14px;
    text-transform: none !important;
  }
}

.mobile-tasks-page {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60px;
  &__date-title{
    display: block;
    text-align: center;
    background-color: rgba(0, 165, 211, .4);
    font-weight: 600;
  }
  &__task {
    &:nth-of-type(odd) {
      background-color: rgba(130,200,219,.14);
      border-top: 1px solid rgba(130, 200, 219, .7);
      border-bottom: 1px solid rgba(130, 200, 219, .7);
    }
    &_checked {
      background-color: rgba(244, 67, 54, .1) !important;
      .mobile-tasks-page__object {
        color: #f44336;
      }
      .MuiSwitch-colorSecondary.Mui-checked {
        color: #f44336;
      }
    }
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__time {
    display: block;
    font-size: 16px;
    font-weight: 600;
  }
  &__position {
    font-weight: 600;
    font-size: 16px;
  }
  &__object {
    margin: 10px auto;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: #00a5d3;
  }
  &__person {
    font-weight: 15px;
    text-align: center;
    width: 100%;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 20px;
    padding-left: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__add-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 165, 211, 0.8);
    border: none;
    font-size: 22px;
    font-weight: 600;
  }
  &__subtitle {
    width: 100%;
    font-weight: 600;
  }
  &__details-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
  }
}

.add-task-form {
  &__date-picker {
    font: inherit;
    width: 100%;
    border: none;
    font-size: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    &_first {
      text-align: center;
      font-weight: 700;
      border-bottom: none;
      width: 120px;
      margin: 0 auto;
    }
  }
  &__date-picker-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px !important;
  }
  &__date-picker-wrapper {
    position: relative;
    width: 45%;
    &_first {
      display: flex;
      justify-content: center;
    }
  }
  &__date-picker-text {
    font-size: 12px;
    position: absolute;
    top: -25px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__position-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__position {
    width: 40%;
    overflow: hidden;
    &_second {
      width: 55%;
    }
  }
  &__position-autocomplete {
    width: auto !important;
  }
  .MuiPaper-root {
    width: 100%;
    max-width: 600px;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .react-datepicker__input-container {
    display: flex;
    justify-content: center;
  }
  * {
    font-size: 14px !important;
    @media screen and (min-width: 768x) {
      font-size: 18px !important;
    }
  }
}

.message-alert {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
