.personslist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    width: 40%;
}

.personDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75vw;
}

.personDetails .persotDetails-phone {
    color: green;
}

.MuiExpansionPanel-rounded {
    width: 100%;
}

@media (max-width: 1200px) {
    .personslist {
        padding: 60px 20px 70px 20px;
        width: auto;
    }
}
