.persons-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 40%;
  &__title {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  &__details-phone {
    color: green;
  }
  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75vw;
  }
}

.MuiExpansionPanel-rounded {
  width: 100%;
}

@media (max-width: 1200px) {
  .persons-list {
    padding: 100px 20px 80px 20px;
    width: auto;
  }
}
